
<link href="styles/login.css" rel="stylesheet" />


  <div class="container">

   {{expData}}
        <div class="d-flex justify-content-center h-100">
        
          <div class="cardInput">
            <div class="card-header">
              <h3>Modify Expense</h3>
            
            </div>
            <div>   {{#if message}}
    <p class="alert alert-warning">{{message}}</p>
  {{/if}}</div>
            <div class="card-body">
             <form action="editExpense" method="POST" > 

                <div class="input-group form-group">
                  <div class="input-group-label">Expense Type : </div>
                    <span ></span> 
                    <select name="expType" id="expType" class="form-control"  >
                        <option value="Select">Select one</option>
                          {{#each expenseType}}
                            <option value={{this}}>{{this}}</option>
                              {{/each}}

                  </select>
               
                </div>

               
                <div class="input-group form-group">
                  <div class="input-group-label">Expense Date : </div>
                    <span ></span> 
                  <input type="text" class= "form-control" name="expDate" id="datePicker" autocomplete="off" value={{expdata.expDate}}  >
                  
                </div>
               <div class="input-group form-group">
                  <div class="input-group-label">Expense Receipt : </div>
                    <span ></span> 
                 <input type="file" class="form-control-file" id="exampleFormControlFile1" name="expReceipt" placeholder="{{expdata.expReceipt}}">
                 {{#if expdata.expReceipt}} 
                <a href="/public/uploads/{{expdata.expReceipt}}" target="_blank">{{expdata.expReceipt}} </label>
                 {{/if}}
                   </div>
                
                <div class="input-group form-group">
                  <div class="input-group-label">Expense Amount : </div>
                    <span ></span>
                  <input type="text"   class="form-control" placeholder= "{{expdata.expAmount}}"  autocomplete="off" name="expAmount" required=true>
                </div>
                <div class="float-right form-group">
                  <input type="submit" value="Update" class="btn  login_btn"  >
                  <span >   </span>
                   <input class="btn  login_btn" type="reset" value="Reset" >
                </div>
                <input type="hidden" value={{expdata._id}} name="_id" >
                
                
              </form>
            </div>
 
          </div>
        </div>
      </div>
  
<script type="text/javascript">
$(function() {
    $( "#datePicker" ).datepicker({   format: 'mm-dd-yyyy',
        endDate: '+0d',
        autoclose: true });
  });

  document.getElementById("expType").value = "Misc";
         </script>

