<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Employee Expense <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <a href="addNewExpense"><button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button></a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Expense Type</th>
                        <th>Expense Date</th>
                        <th>Receipt</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
               
                <tbody>
                {{#each empExpenseList}}
                   <tr>
                        <td>{{expType}}</td>
                        <td> {{expDate}}</td>
                        <td>  {{expReceipt}}</td>
                        <td> ${{expAmount}}</td>
                        <td>
						<a href="/editExpense?id={{_id}}" >Edit</a>
                            | &nbsp;&nbsp;
                           <a href="/delete?id={{_id}}", onclick='return confirm("You are going to delete this record. Continue?")')> Delete</a>
                          
                        </td>
                    </tr>
                {{/each}}         
                </tbody>
            </table>
        </div>
    </div>     

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/script.js"></script>